<div class="layout-toolbar" id="region-toolbar"></div>
<div class="layout-three-column">
  <div class="layout-region layout-region-left" id="region-left">
    <div class="region-label">Panels</div>
  </div>
  <div class="layout-resizer" data-resize-left="region-left" data-resize-right="region-center"></div>
  <div class="layout-region layout-region-center" id="region-center">
    <div class="region-label">Editors</div>
  </div>
  <div class="layout-resizer" data-resize-left="region-center" data-resize-right="region-right"></div>
  <div class="layout-region layout-region-right" id="region-right">
    <div class="region-label">Controls</div>
  </div>
</div>
